<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taskify</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome, <%= name %></h1>
    <img src="<%= profilePicture %>" alt="Profile Picture"> <!-- Add this line for the profile picture -->
    <p>Email: <%= email %></p>
    <a href="/edit-profile">Edit Profile</a>

    <h2>Add a Project or a Task</h2>
    <div>
        <a href="/projects/new"><button>Add Project</button></a>
    </div>
    <div>
        <a href="/tasks/new"><button>Add Task</button></a>
    </div>
</body>
</html>


