<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link 
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles_2.css" />
</head>
<body>
    <!-- sidebar starts -->
    <div class="sidebar">
        <a href="/">
            <i class="logo">taskify</i>
        </a>
        <div class="sidebarOption">
            <a href="/">
                <span class="material-symbols-outlined"> home </span>
                <h2>Home</h2>
            </a>
        </div>

        <div class="sidebarOption">
            <a href="/projects">
                <span class="material-symbols-outlined"> tactic </span>
                <h2>Projects</h2>
            </a>
        </div>

        <div class="sidebarOption">
            <a href="/tasks">
                <span class="material-symbols-outlined"> checklist </span>
                <h2>Tasks</h2>
            </a>
        </div>

        <div class="sidebarOption">
            <a href="/profile">
                <span class="material-symbols-outlined"> person </span>
                <h2>Profile</h2>
            </a>
        </div>

        <div>
            <a href="/logout">
                <button class="sidebar__tweet">Log Out</button>
            </a>
        </div>

    </div>
    <!-- sidebar ends -->

    <!-- feed starts-->
    <div class="feed">
        <div class="feed__header">
            <h2>Create New Task</h2>
        </div>

        <!--Task Creation form starts-->
        <section class="content">
            <div class="container-fluid">
                <form action="/tasks" method="POST" class="project-form">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Task Title:</label>
                                    <input type="text" id="title" name="title" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="description">Task Description:</label>
                                    <textarea id="description" name="description" class="form-control" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="assignee">Assignee:</label>
                                    <input type="text" id="assignee" name="assignee" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="dueDate">Due Date:</label>
                                    <input type="date" id="dueDate" name="dueDate" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary create-project-btn">Create Task</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!--Task Creation form ends-->
    </div>

            
    </div>
    <!-- feed ends-->

    <!-- widgets starts -->
    <div class="widgets">
        <div class="widgets__input">
          <span class="material-icons widgets__searchIcon"> search </span>
          <input type="text" placeholder="Search Twitter" />
        </div>

        <div class="widgets__widgetContainer">
          <h2>What's happening?</h2>
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              Sunsets don&#39;t get much better than this one over
              <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>.
              <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw"
                >#nature</a
              >
              <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw"
                >#sunset</a
              >
              <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a>
            </p>
            &mdash; US Department of the Interior (@Interior)
            <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw"
              >May 5, 2014</a
            >
          </blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <!-- widgets ends -->

</body>
</html>

